<nav class="navbar">
  <a class="navbar-brand">Ariella's Weather App</a>
  <form class=nav-buttons>
    <a class="nav-btn" (click)="togglePage('home')" routerLink="/home" routerLinkActive="selected-link"
      type="button">Home</a>
    <a class="nav-btn" routerLink="/favorites" routerLinkActive="selected-link" (click)="togglePage('favorites')"
      type="button">Favorites</a>
    <div class="header-container">
    <h4>C° - F°</h4>
    <label class="switch"> 
      <input type="checkbox" (click)="togglefahrenheitCelsius($event)" [checked]="units==='fahrenheit'">
      <span class="slider round"></span>
    </label>
  </div>
    <div class="header-container">
      <h4>Dark Mode</h4>
      <label class="switch"> 
        <input type="checkbox" (click)="toggleLightDarkMode($event)" [checked]='darkmode===true'>
        <span class="slider round"></span>
      </label>
    </div>
  </form>
</nav>
<!-- add animations to HOME and favorites make title not a link - fix CSS in general -->
