<nav class="navbar">
  <a class="navbar-brand">Ariella's Weather App</a>
  <form class="form-inline">
      <a class="nav-btn" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']" type="button">Home</a>
      <a class="nav-btn" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['favorites']" type="button">Favorites</a>
      <div class="celsius-fahrenheit-container">
          <a href="" class="celsius-fahrenheit"  [routerLinkActiveOptions]="{exact: false}" routerLinkActive="active" [routerLink]="['']" [queryParams]="{units:'celsius'}">&#8451;</a><span class="celsius-fahrenheit">/</span>
          <a href="" class="celsius-fahrenheit" [routerLinkActiveOptions]="{exact: false}"  routerLinkActive="active" [routerLink]="['']" [queryParams]="{units:'fahrenheit'}">&#8457;</a>
      </div>
  </form>
</nav>