$emphasis-color:#b00ecd;

.navbar {
  background-image: url("../../assets/images/images/nav-background.jpg");
  background-repeat: repeat;
  background-color: #bfd8d5;
  border-bottom: 4px solid darken(#b1bed5, 5%);
  display: flex;
  align-content: center;
  justify-content: flex-end;
  height: 10vh;
  color: white;
  font-size: 2rem;
  height: 10vh;

  a {
    color: white;
    cursor: pointer;
    font-size: 2rem;
    @media screen and (min-width: 700px) {
    }
  }
  a:active {
    color: $emphasis-color;
  }

  @media screen and (min-width: 700px) {
    justify-content: space-between;
  }

  .navbar-brand {
    display: none;

    @media screen and (min-width: 700px) {
      display: block;
    }
  }

  .nav-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    @media screen and (min-width: 700px) {
      width: 50%;
    }
    .selected-link {
      color: lighten($emphasis-color, 30%);
    }

    .header-container {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      @media screen and (min-width: 700px) {
        font-size: 2rem;
      }
    }
  }
}


//Toggles


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  // height: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.6s;
}

.slider:before {
  position: absolute;
  content: "";
  // height: 26px;
  // width: 26px;
  // left: 4px;
  // bottom: 4px;
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  // background-color: #2196f3;
  background-color: $emphasis-color
;

}

input:focus + .slider {
  // box-shadow: 0 0 1px #2196f3;
  box-shadow: 0 0 1px $emphasis-color;

}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(38px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
