.navbar{
    // background-image: url('../../assets/images/nav-background.jpg');
    background-repeat: no-repeat;
    background-color: blue;
    .navbar-brand{
        color:white;
        font-weight: bold;
    }
}