.navbar {
  background-image: url("../../assets/images/images/nav-background.jpg");
  background-repeat: repeat;
  background-color: #bfd8d5;
  border-bottom: 4px solid darken(#b1bed5, 5%);
  display: flex;
  align-content: center;
  justify-content: flex-end;
  height: 10vh;
  color: white;
  font-size: 2rem;
  height: 10vh;

  a {
    color: white;
    cursor: pointer;
    font-size: 2rem;
    @media screen and (min-width: 700px) {
      font-size: 1.5rem;
    }
  }
  a:active {
    color: hotpink;
  }

  @media screen and (min-width: 700px) {
    justify-content: space-between;
  }

  .navbar-brand {
    display: none;

    @media screen and (min-width: 700px) {
      display: block;
    }
  }

  .nav-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    @media screen and (min-width: 700px) {
      width: 50%;
    }
    .selected-link {
      color: lighten(#8b006e, 30%);
    }

    .header-container {
      @media screen and (min-width: 700px) {
        font-size: 2rem;
      }
    }
  }
}
