.main-container{
    display: flex;
    flex-direction: column;
    .image-container{
        .curr-weather-image{
            width: 30rem;
            height: auto;
        }
    }
    .weather-details-container{
        display: flex;
        flex-direction: row;
        .curr-weather-details{
            .temp{
                font-size: 4rem;
            }
        }
    }
}