.main-container {
  display: flex;
  flex-direction: column;
  .image-container {
    .forecast-image {
      width: 30rem;
      height: auto;
    }
  }
  .weather-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .curr-weather-details {
      .temp {
        font-size: 4rem;
      }
    }
  }
}
