@import "../../../variables.scss";

.selected-forecast-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  @media screen and (max-height: 820px) and (min-width: $smaller-mobile-screen-width) {
    flex-wrap: wrap;
  }

  .selected-forecast-details-container {
    padding-top: 1rem;
    margin-top: 1rem;
    .selected-forecast-details {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .forecast-display-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem;
    justify-content: space-evenly;

    :first-child {
      border-right: 1px solid black;
    }
    :nth-child(2) {
      margin-left: 2rem;
    }

    @media screen and (min-width: $smaller-mobile-screen-width) {
    }
  }
}
