.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding:2rem;
  flex-wrap: wrap;
  .image-container {
    width:18rem;
    padding:1rem;
    
    .forecast-image{
      width:100%;
      height: auto;
      margin-bottom:1rem;

    }
    .forecast-text {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .forecast-image {
    width: 15rem;
    height: auto;
  }

  .forecast-details-container {
    display: none;
    @media screen and (min-width: 700px) {
      display: block;
      width:fit-content
    }
    .forecast-details {
      font-size: 1.3rem;
    }
  }
}
