<div>
  <div class="search-box-container">
    <!-- <input type="text" (input)="onUserInput($event)" placeholder="Enter city...." list="locations"
      (change)="onUserSelection($event)" class="search" />
      <datalist id="locations">
        <option [value]="location.LocalizedName + ', ' + location.Country.LocalizedName"
          *ngFor="let location of suggestedLocations; index as i"></option>
      </datalist> -->
  </div>
  <div class="display-container">
    <div class="display-header">
      <div class="search">
        <input type="text" class="searchTerm" (input)="onUserInput($event)" [value]="location"
          placeholder="Enter city...." list="locations" (change)="onUserSelection($event)">
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
        <datalist id="locations">
          <option *ngFor="let location of suggestedLocations; index as i" attr.data-value="{{location.key}}"
            [value]="location.cityName + ', ' + location.countryName">
        </datalist>
      </div>
      <button *ngIf="!locationIsInFavorites" class="favorites-button"><i class="far fa-heart red"></i>Add to
        Favorites</button>
      <button *ngIf="locationIsInFavorites" class="favorites-button"> <i class="fas fa-heart"></i>Remove from
        Favorites</button>



    </div>
    <div class="weather-display">
      <app-selected-forecast *ngIf="displayedDayForecast" [forecast]="displayedDayForecast"></app-selected-forecast>
      <app-current-weather *ngIf="displayedDayForecast===null"></app-current-weather>


    </div>
    <div class="weekly-forecast-container">
      <div class="card btn" (click)="displayForecast(i)"
        *ngFor="let forecast of weeklyForecast.dailyForecasts; index as i">
        <img [src]='forecast.dayTime.icon' [alt]='forecast.dayTime.iconPhrase' class="card-img-top" />
        <div class="card-body">
          <h4 class="card-title">{{forecast.dayofWeek}}-{{forecast.date}}</h4>
          <h5 class="card-sub-title">
            {{forecast.tempMin}}°/{{forecast.tempMax}}°
          </h5>
          <p class="card-text">{{ forecast.dayTime.shortText }}</p>
          <a [href]="forecast.link" target="_blank" class="btn btn-primary">Go to website</a>
        </div>
      </div>
    </div>
  </div>
</div>
