<div>
  <div class="display-container">
    <div class="header">
      <div class="search">
        <input type="text" [ngClass]="darkmode? 'dark-mode bg-dark text-white': 'light-mode'" id="locationInput"
          class="autocomplete" (input)="onUserInput($event)" [value]="location" placeholder="Enter city...."
          list="locations" (change)="onUserSelection($event)" />
        <button type="submit" class="searchButton" [ngClass]="darkmode? 'dark-mode bg-dark text-white': 'light-mode'">
          <i class="fa fa-search"></i>
        </button>
        <datalist id="locations">
          <option *ngFor="let location of suggestedLocations; index as i" attr.data-value="{{ location.locationKey }}"
            [value]="location.cityName + ', ' + location.countryName">
          </option>
        </datalist>
      </div>
      <button [ngClass]="darkmode? 'dark-mode': 'light-mode'" *ngIf="!locationIsInFavorites"
        (click)="addLocationToFavorites()" class="favorites-button">
        <i class="far fa-heart red"></i>
        <span class="btn-text"> Add to Favorites</span>
      </button>
      <button [ngClass]="darkmode? 'dark-mode': 'light-mode'" *ngIf="locationIsInFavorites"
        (click)="removeLocationFromFavorites()" class="favorites-button">
        <i class="fas fa-heart red"></i>
        <span class="btn-text"> Remove from Favorites </span>
      </button>
    </div>


    <div class="weather-display">
      <app-error-message [errorMessage]='errorMessage'>
      </app-error-message>
      <img src="../../../assets/images/gifs/loading-image.gif" alt="Loading Image"
        *ngIf="isLoadingCurrentWeather && !darkmode" class="loading-image">
      <img src="../../assets/images/gifs/loading-darkmode.gif" alt="Loading Image"
        *ngIf="darkmode && isLoadingCurrentWeather" class="loading-image">


      <app-selected-forecast *ngIf="!currentWeatherDisplayed && displayedDayForecast" [forecast]="displayedDayForecast"
        [locationName]='location'></app-selected-forecast>
      <app-current-weather [currentWeather]="currentWeather" [units]='units' [locationName]='location'
        *ngIf="currentWeatherDisplayed && currentWeather"></app-current-weather>
    </div>

    <div class="weekly-forecast-container" >
      <!-- <app-daily-forecast (click)="displayForecast(i)"
        *ngFor="let forecast of weeklyForecast.dailyForecasts; index as i" [id]="'weekly-forecast-' + i"  [forecast]="weeklyForecast.dailyForecasts[i]" [darkmode]="darkmode"> -->
        
        <app-daily-forecast class="daily-forecast-container" (click)="displayForecast(0)" [forecast]="weeklyForecast.dailyForecasts[0]" [darkmode]="darkmode" [id]="'weekly-forecast-0'" [isLoadingWeeklyForecast]="isLoadingWeeklyForecast" ></app-daily-forecast>
        <app-daily-forecast class="daily-forecast-container" (click)="displayForecast(1)" [forecast]="weeklyForecast.dailyForecasts[1]" [darkmode]="darkmode" [id]="'weekly-forecast-1'" [isLoadingWeeklyForecast]="isLoadingWeeklyForecast"></app-daily-forecast>
        <app-daily-forecast class="daily-forecast-container" (click)="displayForecast(2)" [forecast]="weeklyForecast.dailyForecasts[2]" [darkmode]="darkmode"[id]="'weekly-forecast-2'" [isLoadingWeeklyForecast]="isLoadingWeeklyForecast"></app-daily-forecast>
        <app-daily-forecast class="daily-forecast-container" (click)="displayForecast(3)" [forecast]="weeklyForecast.dailyForecasts[3]" [darkmode]="darkmode" [id]="'weekly-forecast-3'" [isLoadingWeeklyForecast]="isLoadingWeeklyForecast"></app-daily-forecast>
        <app-daily-forecast class="daily-forecast-container" (click)="displayForecast(4)" [forecast]="weeklyForecast.dailyForecasts[4]" [darkmode]="darkmode" [id]="'weekly-forecast-4'" [isLoadingWeeklyForecast]="isLoadingWeeklyForecast"></app-daily-forecast>

    
      </div>


  </div>
</div>