@import "../../../scss/variables.scss";
.card {
  width: 100vw;
  height: 10rem;
  align-items: center;
  flex-direction: row;

  @media screen and (min-width: $smaller-mobile-screen-width) {
    width: 20rem;
    height: 30rem;
    border-radius: 10%;
    flex-direction: column;
    margin: 1rem;
  }

  .loading-image {
    height: 100%;
    width: auto;
    @media screen and (min-width: $smaller-mobile-screen-width) {
      width: 100%;
      height: auto;
    }
  }
  .card-img-top {
    width: 15%;
    height: auto;
    @media screen and (min-width: $smaller-mobile-screen-width) {
      height: 6rem;
      width: auto;
      padding: 0.5rem;
      margin-bottom: 1rem;
    }
  }

  .card-body {
    display: flex;
    flex-direction: row;
    width: 83%;
    padding: 0.5rem;
    flex: 1, 1, 40%;
    align-items: center;

    @media screen and (min-width: $smaller-mobile-screen-width) {
      flex-direction: column;
      width: 100%;
    }

    h4 {
      font-size: 2rem;

      @media screen and (min-width: $smaller-mobile-screen-width) {
        font-size: 1.5;
      }
    }

    .header-text {
      display: flex;
      flex-direction: column;
      width: 45%;

      @media screen and (min-width: $smaller-mobile-screen-width) {
        width: 100%;
        height: 50%;
      }
    }

    .card-subtitle {
      flex-basis: 1;
      width: 20%;

      @media screen and (min-width: $smaller-mobile-screen-width) {
        width: 100%;
        height: 20%;
      }
    }

    .card-text {
      width: fit-content;
      font-size: 2rem;
      width: 35%;

      @media screen and (min-width: $smaller-mobile-screen-width) {
        width: 100%;
        height: 30%;
      }
    }
  }
}
