<div class="card btn" [ngClass]="{'bg-dark text-white':darkmode}" *ngIf="currentWeather && favorite"
    (click)="seeFullForecast()">
    <img [src]="currentWeather.icon" alt='currentWeather.weatherText' class="card-img-top" />
    <div class="card-body">
        <div class="header-text">
            <h4>{{favorite.cityName}}</h4>
            <h4>{{favorite.countryName}}</h4>
        </div>
        <div class="card-subtitle">
            <h4>{{currentWeather.tempMetric}}°</h4>
        </div>
        <p class="card-text">{{currentWeather.weatherText}}</p>
    </div>
</div>
