<div class="card btn" [ngClass]="{'bg-dark text-white light-border':darkmode}" (click)="seeFullForecast()">

    <img src="../../../assets/images/gifs/loading-image.gif" alt="Loading Image" *ngIf="isLoadingWeather && !darkmode"
        class="loading-image">
    <img src="../../../assets/images/gifs/loading-darkmode.gif" alt="Loading Image" *ngIf="isLoadingWeather && darkmode"
        class="loading-image">

    <img *ngIf="currentWeather" [src]="currentWeather.icon" [alt]='currentWeather.weatherText' class="card-img-top" />
    <div *ngIf="currentWeather && favorite" class="card-body">
        <div class="header-text">
            <h4>{{favorite.cityName}}</h4>
            <h4>{{favorite.countryName}}</h4>
        </div>
        <div class="card-subtitle">
            <h4>{{units==='fahrenheit'?currentWeather.tempImperial : currentWeather.tempMetric}}°</h4>
        </div>
        <p class="card-text">{{currentWeather.weatherText}}</p>
    </div>
</div>