<div class="main-container" >
  <div class="image-container">
    <h1>{{partOfDay}}</h1>
    <img class='forecast-image' [src]="forecast.icon" [alt]="forecast.iconPhrase">
    <p class="forecast-text">{{forecast.longText}}</p>
  </div>
  <div class="forecast-details-container">
    <p class="forecast-details">Probability of Precipitation: {{forecast.precipitationProbability}}%</p>
    <p class="forecast-details">Probability of Thunderstorms: {{forecast.thunderstormProbability}}%</p>
    <p class="forecast-details">Rain: {{forecast.rain}}mm</p>
    <p class="forecast-details">Snow: {{forecast.snow}}mm</p>
    <p class="forecast-details">Ice: {{forecast.ice}}mm</p>
    <p class="forecast-details">WindGusts: {{forecast.windGusts}}</p>
  </div>
  <a (click)='windowOpened=true' type="button" class="more-link">More</a>
  <app-forecast-details  class='forecast-details-window' windowOpened="true ? 'display-flex' : 'display-none'" [forecast]='forecast' *ngIf="windowOpened" (windowClosed)="windowOpened=false">
  </app-forecast-details>
</div>