<div *ngIf="errorMessage" class="page-wrap d-flex flex-row align-items-center error-message">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">Oops!</span>
                <div class="mb-4">Something went wrong!</div>
                <div class="mb-4 lead">Please try again</div>
                <a (click)="closeErrorMessage()" class="btn btn-link">Close</a>
            </div>
        </div>
    </div>
</div>
