/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
  }
  
  html {
    font-size: 10px;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif;
    @media screen and (max-width: 900px) {
      font-size: 9px;  
    }
    @media screen and (max-width: 500px) {
      font-size: 8px;  
    }
    @media screen and (max-width: 300px) {
      font-size: 7px;  
    }


  }

  //Helpers
  .full-screen-width{
    width:100%
  }
  .red{
    color:red
  }

  .loading-image{
    width:40rem;
    margin:auto;
    display: block;
  }

  .display-none{
    display:none
  }
  .display-block{
    display:block
  }
  .display-flex{
    display:flex
  }

  body{
    
  }
  .dark-mode{
    color:white;
    background-color: #343a40;
    
  }
  .light-mode{
    background-color: white;
    color: black;
  }