$light-border-color: rgb(173, 240, 236);
$large-mobile-screen-width: 850px;
$smaller-mobile-screen-width: 750px;

@mixin popup {
  padding: 3rem;
  font-size: 2rem;
  border-radius: 1rem;
  height: fit-content;
  width: fit-content;
  max-height: 95vh;
  max-width: 95vw;
  margin-top: 1rem;
  position: absolute;
  top: 10rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // background-color: white;
  z-index: 10;
}
